/* bottom navbar */

#bottom_navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 100;
}

#bottom_navbar .invisible {
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: -999px;
}

  /* helpers/align.css */

#bottom_navbar .align {
    display: grid;
    place-items: center;
}

  /* layout/base.css */

  :root {
    --body-background-color: #82a8ee;
    --body-color: #97adc6;
  }



  /* modules/anchor.css */

  #bottom_navbar a {
    color: inherit;
    outline: 0;
  }

  /* modules/icon.css */

  #bottom_navbar .icons {
    display: none;
  }

  #bottom_navbar .icon {
    block-size: 1em;
    display: inline-block;
    fill: currentcolor;
    inline-size: 1em;
    vertical-align: middle;
  }

  #bottom_navbar .icon--2x {
    font-size: 2rem;
  }

  /* modules/image.css */

  #bottom_navbar svg {
    max-inline-size: 100%;
  }

  /* modules/navigation.css */

  :root {
    --navigation-background-color: #f0f6ff;
    --navigation-border-radius: 0.25em;

    --navigation-anchor-padding: 1.5em;
  }

  #bottom_navbar .navigation {
    background-color: var(--navigation-background-color);
    border-radius: var(--navigation-border-radius);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #bottom_navbar .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #bottom_navbar .navigation a {
    display: block;
    padding: var(--navigation-anchor-padding);
    position: relative;
    text-decoration: none;
  }

  #bottom_navbar .navigation a:focus::after,
  .navigation a:hover::after {
    opacity: 1;
  }

  #bottom_navbar .navigation a::after {
    block-size: 100%;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    content: '';
    inline-size: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
  }

  #bottom_navbar .navigation--inline ul {
    display: flex;
  }


  /* dashboard <<< home.blade.php */
.dashboard_wrapper{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 1% 0;
}

.dahsboard_col{
  display: flex;
  width: 100%;
}

.dahsboard_col_item{
  height:auto;
  min-height:150px;
  width: 30%;
  margin: 5px auto;
  box-shadow: 1px 1px 5px 1px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dahsboard_col_item button{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .container{
    padding-bottom:15%!important;
  }
  .dahsboard_col_item {
     width: 45%;
  }

  .tabs_container .tab:checked + label {
    background-color: lightblue!important;
  }
  .tabs_container .tab:checked + label:hover {
    background-color: lightblue!important;
  }
  .imageTab_label{
    display: flex;
    justify-content: center;
  }


}

/* tabs */
.tabs_container {

}
.tabs_container .tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tabs_container .tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.tabs_container .tab {
  display: none;
}
.tabs_container .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tabs_container .tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tabs_container .tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tabs_container .tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tabs_container .tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tabs_container .tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.tabs_container .tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tabs_container .tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tabs_container .tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
/* boring stuff */
.tabs_container body {
  font-family: 'Helvetica', sans-serif;
  background-color: #e7e7e7;
  color: #777;
  padding: 30px 0;
  font-weight: 300;
}
.tabs_container .container {
  margin: 0 auto;
  display: block;
}
.tabs_container .container > *:not(.tab-wrap) {
  padding: 0 80px;
}
.tabs_container h1, h2 {
  margin: 0;
  color: #444;
  text-align: center;
  font-weight: 400;
}
.tabs_container h2 {
  font-size: 1em;
  margin-bottom: 30px;
}
.tabs_container h3 {
  font-weight: 400;
}
.tabs_container p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* processed */
.status_processed_ticket_no{
  background-color: #67e367;
  width: fit-content;
  padding:0.2em;
  color: white;
  border-radius: 5px;
}
.status_unprocessed_ticket_no{
  background-color: #f9654a;
  width: fit-content;
  padding:0.2em;
  color: white;
  border-radius: 5px;
}
.processed_detail_title {
  border-bottom: 1px solid lightcoral;
  margin: 2% auto;
  color:red;
  max-width: 800px;

}

.imgPreview img {
  padding: 8px;
  max-width: 100px;

}

.member-upload {
  /* position: relative; */
  /* max-width: 205px; */
  /* margin: 50px auto; */

}

.member-upload .member-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.member-upload .member-edit input {
  display: none;
}
.member-upload .member-edit input + label {
  /* display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out; */
}
.member-upload .member-edit input + label:hover {
  /* background: #f1f1f1;
  border-color: #d6d6d6; */
}
.member-upload .member-edit input + label:after {
  /* content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto; */
}
.member-upload .member-preview {
  /* width: 192px;
  height: 192px; */
  /* position: relative; */
  display: flex;
  flex-wrap:wrap;
  border-radius: 10px;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.member-upload .member-preview > div {
  width: 192px;
  height: 192px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.img-delete {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.remove_icon{
 padding: 5px;
 color: red;
 font-weight: 900;
   top: 10px;
  left: 0;
  right: 0;
}


/* imageTab_label */
.imageTab_label{
  margin: 5px;
}

/* dashboard   <<< dashboard.blade.php*/

/* flatpickr selected */
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
  background: #2538a3!important;
  border-color: #2538a3!important;
}

#btn_clear_filter_dashboard{
  padding: 0.1em 1em;
  border-radius: 20px;
  color: white;
  background-color: darkgrey;
  border: 0;
  border: 1px solid transparent;
}
#btn_clear_filter_dashboard:hover{
  padding: 0.1em 1em;
  border-radius: 20px;
  color: darkgrey;
  background-color: white;
  border: 1px solid darkgrey;
}

#btn_filter_dashboard{
  padding: 0.1em 1em;
  border-radius: 20px;
  color: white;
  background-color: #2538a3;
  border: 0;
  border: 1px solid transparent;
}

#btn_filter_dashboard:hover{
  padding: 0.1em 1em;
  border-radius: 20px;
  color: #2538a3;
  background-color: white;
  border: 1px solid #2538a3;
}

.dashboard_wrapper_box{
  width: 100%;
  display: flex;
  padding: 1% 0;
}

.dashboard_wrapper_left_content{
  display:flex;
  flex-direction:column
}

.dashboard_wrapper_right_content{
  width: 100%;
  margin: 1em;
  box-shadow: 1px 1px 5px 2px #8080808c;
}

.dashboard_wrapper_right_content_upper{
  padding: 1em;
  background-color: #2538a3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.text_rm{
  font-weight: bold;
  font-size: xx-large;
}
#btn_view_detail ,
#btn_go_back,
#btn_to_incoming,
#btn_to_shipment,
#btn_view_detail_shipment,
#btn_go_back_shipment,
#btn_to_shipment_mobile,
#btn_to_incoming_mobile{
  padding: 0.1em 1em;
  border-radius: 20px;
  color: #2538a3;
  background-color: white;
  border: 1px solid transparent;
  width:fit-content;
}
#btn_view_detail:hover,
#btn_go_back:hover,
#btn_to_incoming:hover,
#btn_to_shipment:hover,
#btn_view_detail_shipment:hover,
#btn_go_back_shipment:hover,
#btn_to_shipment_mobile:hover
#btn_to_incoming_mobile:hover {
  padding: 0.1em 1em;
  border-radius: 20px;
  color: white;
  background-color: #2538a3;
  border: 1px solid white;
}
.dashboard_wrapper_right_content_upper_inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard_wrapper_right_content_bottom{
  padding:2em;
}

.container_expand .content {
  display: none;
  padding : 5px;
}
#accordion{
  /* overflow: auto; */
}
#accordion .btn:focus, .btn.focus{
  box-shadow: none!important;
}

#accordion h5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 400;
  overflow: auto;
}

.text_processed{
  color:mediumseagreen;
  font-weight: bold;
}

.text_unprocessed{
  color:rgb(201, 66, 66);
  font-weight: bold;
}

.collapse-cardbody-wrapper{
  background-color: #e5e5fb;
  border-radius: 5px;
  padding: 0.5em;
}
.collapse-cardbody-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collapse-cardbody-header .header-left{
  display: flex;
  flex-direction: row;
}
.header-left ,.header-right{
  display: flex;
  flex-direction: row;
  align-self: center;
}
.header-left .header-left-index{
  width: calc(100vh / 20);
  height: calc(100vh / 20);
  background: #2538a3;
  border-radius: 51%;
  color: white;
  margin: 0.5em;
  display: flex;
  padding: 1.5em;
  align-items: center;
  justify-content: center;

}
.header-left .header-left-truckNum{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #2538a3;
  font-size:bold;
}
.header-right .header-right-markProcessed{
  align-items: center;
  justify-content: center;
  display: flex;
  font-style: oblique;
  color: #12b612;
  margin: 0 1em;
}
.header-right .header-right-issued{
  align-items: center;
  justify-content: center;
  display: flex;
  font-style: oblique;
  color: darkgrey;
}
.header-right .header-right-processed-status{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0.5em;
  align-self: center;
  padding: 0 1em;
  height: auto;
  color: white;
  border-radius: 100px;
  text-align: center;
}
.color-status-processed{
  background-color: rgb(18, 182, 18);
}
.color-status-unprocessed{
  background-color: rgb(251, 48 ,48);
}
.collapse-cardbody-detail{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}
.collapse-cardbody-doc{
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

/* input suffix prefix*/
.input-suffix{
  border: 1px solid lightgrey;
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  padding: 0.4em;
  align-items: center;
  background-color: lightgray;
  color: dimgrey;
  height: calc(1.6em + 0.75rem + 2px);
}
.input-prefix{
  border: 1px solid lightgrey;
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  padding: 0.4em;
  align-items: center;
  background-color: lightgray;
  color: dimgrey;
  height: calc(1.6em + 0.75rem + 2px);
}

.d-none {
  display:none;
}

/* mobile blade  */

.dashboard_wrapper_box_m{
  width: 100%;
  height: 90vh;

}
.dashboard_top_wrap_m{
  width: 100%;
  height: 35vh;
  padding: 1em 2em;
  color:white;
  display: flex;
  flex-direction: column;
  place-content: space-around;
}
.dashboard_top_wrap_m .text_rm{
  font-weight: bold;
  font-size: 2em;
  margin: 0 0.2em
}
.dashboard_bottom_wrap_m{
  width: 100%;
  height: 60vh;
  background-color: white;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  padding: 1.5em;
}
.dpicker_mobile_outer_wrap{
  display: none;
  height: 100%;
  align-items: flex-end;
}
.dpicker_mobile_wrap{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: white;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}
.btn_filter_mobile{
  width: 80%;
  padding: 0.3em 1em;
}

.d-grey{
  color: darkgrey
}

.toggle-off.btn-sm{
  padding-left: 0;
  padding-right: 0;
}

/* toggle button offstyle*/
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle{
  background-color: #e3342f!important;
}

/*
.dashboard_bottom_wrap_calendar_m{
  width: 100%;
  height: 80vh;
  background-color: white;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  padding: 1.5em;
  top: 20vh;
  position: absolute;
  display: none;
  z-index: 5;
}

.dashboard_wrapper_box_m .flatpickr-calendar.inline{
  position:absolute!important;
  width: 100%!important;
  height: auto;
  top:35%!important;
  display: none;
  z-index: 10;
}
.dashboard_wrapper_box_m .flatpickr-innerContainer{
  justify-content: center;
}
.dashboard_wrapper_box_m .flatpickr-calendar{
  box-shadow: none!important;
}
.btn_filter_mobile{
  position: absolute;
  bottom: 10%;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
} */